/*
Theme Name: genesis-infirmiere
Theme URI:
Author: janamr
Author URI: http://janaread.com/
Template: genesis
Description: Infirmiere a Domicile Paris
Version: 1.0.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags:
Text Domain: genesis-infirmiere

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body {
  background-color: rgb(155, 102, 240);
}